<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/home.js" defer></script>
</head>

<body>
    HOME
    <button onclick="buscarDados()">mostrar dados da conta</button>
    <div>
        <h2>Fazer tranferencia</h2>
        <input type="number" id="numberAccount">
        <input type="text" id="valueTranfer">
        <input type="radio" id="fav">
        <button onclick="transferir()">transferir</button>
    </div>
    <div>
        <h2>Fazer deposito</h2>
        <input type="number" id="numberAcc">
        <input type="text" id="value">

        <button onclick="deposito()">depositar</button>
    </div>

   
</body>

</html>