<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <script src="/js/login.js" defer></script>

    <title>Login</title>
</head>

<body>
    <div class="container">
        <header class="header">
            <img src="img/turing-logo.jpeg" alt="banco Turing" />

            <span>Faça login na sua conta</span>
        </header>

        <div>
            <div class="inputContainer">
                <label htmlFor="username">Username</label>
                <input class="input" type="text" id="username" placeholder="username" />
            </div>

            <div class="inputContainer">
                <label htmlFor="password">Password</label>
                <input class="input" type="password" id="password" placeholder="********" />
                <div class="alert-text" id="alert-text">Usuário ou senha inválidos</div>
            </div>

            <a href="# ">Esqueceu sua senha?</a>
            <button class="button" onclick="login()">Entrar</button>

            <div class="footer">
                <p>Você não possui conta no banco? </p>
                <a href=" "> Criar conta</a>
            </div>
        </div>
    </div>
</body>

</html>