<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/turing-bank.css">

    <title>Iniciar</title>
</head>
<body>
    <div class="container">
        <header class="header">
            <img src="/img/turing-logo.jpeg" alt="banco Turing" />
            <span>Grupo Turing Bank</span>
        </header>
            <a href="http://localhost:8080/login">
                <button id="entrarButton" class="button" >Iniciar</button>

            </a>
    </div>
    <script src="script.js"></script>
    <div>
    <footer id="footer">Turing Bank © 2023-2023.
        <span>Todos direitos reservados - 2023</span></footer>
    </div>
</body>
</html>
